@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--twsv-background: 0 0% 100%;
		--twsv-foreground: 240 10% 3.9%;

		--twsv-muted: 240 4.8% 95.9%;
		--twsv-muted-foreground: 240 3.8% 46.1%;

		--twsv-popover: 0 0% 100%;
		--twsv-popover-foreground: 240 10% 3.9%;

		--twsv-card: 0 0% 100%;
		--twsv-card-foreground: 240 10% 3.9%;

		--twsv-border: 240 5.9% 90%;
		--twsv-input: 240 5.9% 90%;

		--twsv-primary: 240 5.9% 10%;
		--twsv-primary-foreground: 0 0% 98%;

		--twsv-secondary: 240 4.8% 95.9%;
		--twsv-secondary-foreground: 240 5.9% 10%;

		--twsv-accent: 240 4.8% 95.9%;
		--twsv-accent-foreground: 240 5.9% 10%;

		--twsv-destructive: 0 72.2% 50.6%;
		--twsv-destructive-foreground: 0 0% 98%;

		--twsv-ring: 240 10% 3.9%;

		--twsv-radius: 0.5rem;
	}

	.dark {
		--twsv-background: 240 10% 3.9%;
		--twsv-foreground: 0 0% 98%;

		--twsv-muted: 240 3.7% 15.9%;
		--twsv-muted-foreground: 240 5% 64.9%;

		--twsv-popover: 240 10% 3.9%;
		--twsv-popover-foreground: 0 0% 98%;

		--twsv-card: 240 10% 3.9%;
		--twsv-card-foreground: 0 0% 98%;

		--twsv-border: 240 3.7% 15.9%;
		--twsv-input: 240 3.7% 15.9%;

		--twsv-primary: 0 0% 98%;
		--twsv-primary-foreground: 240 5.9% 10%;

		--twsv-secondary: 240 3.7% 15.9%;
		--twsv-secondary-foreground: 0 0% 98%;

		--twsv-accent: 240 3.7% 15.9%;
		--twsv-accent-foreground: 0 0% 98%;

		--twsv-destructive: 0 62.8% 30.6%;
		--twsv-destructive-foreground: 0 0% 98%;

		--twsv-ring: 240 4.9% 83.9%;
	}
}
