@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--twsv-background: 0 0% 100%;
		--twsv-foreground: 240 10% 3.9%;

		--twsv-muted: 240 4.8% 95.9%;
		--twsv-muted-foreground: 240 3.8% 46.1%;

		--twsv-popover: 0 0% 100%;
		--twsv-popover-foreground: 240 10% 3.9%;

		--twsv-card: 0 0% 100%;
		--twsv-card-foreground: 240 10% 3.9%;

		--twsv-border: 240 5.9% 90%;
		--twsv-input: 240 5.9% 90%;

		--twsv-primary: 240 5.9% 10%;
		--twsv-primary-foreground: 0 0% 98%;

		--twsv-secondary: 240 4.8% 95.9%;
		--twsv-secondary-foreground: 240 5.9% 10%;

		--twsv-accent: 216 64% 47%;
		--twsv-accent-foreground: 240 5.9% 10%;

		--twsv-destructive: 0 72.2% 50.6%;
		--twsv-destructive-foreground: 0 0% 98%;

		--twsv-ring: 240 10% 3.9%;

		--twsv-radius: 0.5rem;
	}

	.dark {
		--twsv-background: 210 14% 8%;
		--twsv-foreground: 0 0% 98%;

		--twsv-muted: 227 10% 17%;
		--twsv-muted-foreground: 251 4% 50%;

		--twsv-popover: 210 14% 8%;
		--twsv-popover-foreground: 0 0% 98%;

		--twsv-card: 210 14% 8%;
		--twsv-card-foreground: 0 0% 98%;

		--twsv-border: 227 10% 17%;
		--twsv-input: 227 10% 17%;

		--twsv-primary: 0 0% 98%;
		--twsv-primary-foreground: 240 5.9% 10%;

		--twsv-secondary: 227 10% 17%;
		--twsv-secondary-foreground: 0 0% 98%;

		--twsv-accent: 216 100% 50%;
		--twsv-accent-foreground: 216 64% 47%;

		--twsv-destructive: 0 62.8% 30.6%;
		--twsv-destructive-foreground: 0 0% 98%;

		--twsv-ring: 240 4.9% 83.9%;
	}
}
